@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #fafafa;
    --hover-text-color: #f10000;
}

.text-hover-animate {
    overflow: hidden;
    background: linear-gradient(to right, var(--hover-text-color), var(--hover-text-color) 50%, var(--text-color) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.text-hover-animate:hover {
    background-position: 0 100%;
    text-decoration: underline;
    text-decoration-color: var(--hover-text-color);
}